@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .defaultBtn {
    font-size:theme(fontSize.base);
    font-weight: theme(fontWeight.light);
    letter-spacing: theme(letterSpacing.wider);
    text-transform: uppercase;
    padding: theme("padding[2]") theme("padding.10");
    color: theme("textColor.white");
    border-color: theme("borderColor.white");
    border-width: theme("borderWidth.2");
    border-radius: theme('borderRadius.3xl');
    transition: all theme(transitionDelay.300) theme(transitionTimingFunction.DEFAULT);
  }
  .defaultBtn:hover {
    color: theme(textColor.white);
    background-color: rgba(255, 255, 255, 0.1);
  }

  p[class^="defaultText"] {
    font-weight: theme(fontWeight.extralight);
    font-style: italic;
    color: theme(textColor.black);
  }

  *[class^="defaultHeading"] {
    font-weight: theme(fontWeight.light);
    font-style: italic;
    color: theme(textColor.black);
  }

  *[class^="styledImage"] {
    cursor: pointer;
    transition: theme(transitionProperty.all) theme(transitionDuration.300) theme(transitionTimingFunction.linear) theme(transitionDelay.500);
  }
  .styledImage-inView {
    transform: translate(-10px, -10px);
    box-shadow: 10px 10px 4px 0px rgba(0, 0, 0, 0.4);
  }

  @media screen and (max-width: 768px) {
    .defaultBtn {
      font-size:theme(fontSize.xs);
      padding: theme("padding[1.5]") theme("padding.6");
    }
  }
}

body {
}
.pageContent {
  overflow-x: hidden;
}